@page "/Auth/Register"

<PageTitle>Register</PageTitle>

@inherits RegisterBase

<link rel="stylesheet" href="\css\Register.css">

<div class="register-div">
    <h1 style="text-align: center; margin-right: 50px;">Register</h1>

    <div id="multi-step-form-container">
        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
            @for (int i = 1; i <= 4; i++)
            {
                <li class="@(CurrentStep == i ? "form-stepper-active" : CurrentStep > i ? "form-stepper-completed" : "form-stepper-unfinished") text-center form-stepper-list"
                    step="@i">
                    <a class="mx-2">
                        <span class="form-stepper-circle @(CurrentStep == i ? "" : "text-muted")">
                            <span>@i</span>
                        </span>
                        <div class="label @(CurrentStep == i ? "" : "text-muted")">@StepLabels[i - 1]</div>
                    </a>
                </li>
            }

        </ul>
        <EditForm Model="UserRegisterDto" OnValidSubmit="OnRegisterFormSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @if (CurrentStep == 1)
            {
                <section id="step-1" class="form-step">
                    <div class="mt-3">
                        <div class="form-group">
                            <InputText placeholder="Username" name="username" class="form-control"
                                @bind-Value=UserRegisterDto.Username></InputText>
                        </div>

                        <div style="display: flex; flex-direction: row; width: 100; gap: 30px;">
                            <div class="form-group">
                                <InputText placeholder="Email" name="email" class="form-control"
                                    @bind-Value=UserRegisterDto.Email></InputText>
                            </div>

                            <div class="form-group">
                                <InputText type="password" placeholder="Password" name="password" class="form-control"
                                    @bind-Value=UserRegisterDto.Password></InputText>
                            </div>
                        </div>

                        <div style="display: flex; flex-direction: row; width: 100; gap: 30px;">
                            <div class="form-group">
                                <label for="birthDateTime">Birth date and time</label>
                                <InputDate placeholder="Birth date and time" id="birthDateTime" class="form-control"
                                    @bind-Value=UserRegisterDto.BirthDateTime></InputDate>
                            </div>
                            <div class="form-group" style="display: flex; flex-direction: column;">
                                <label for="gender">Gender</label>
                                <InputSelect id="gender" @bind-Value="UserRegisterDto.Gender" class="form-control">
                                    @foreach (var option in Enum.GetValues(typeof(Gender)))
                                    {
                                        <option value="@option">@option</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="form-group">
                            <InputTextArea @bind-Value="UserRegisterDto.Description" class="form-control"
                                placeholder="Description" rows="10" cols="1" style="height: 100px;"></InputTextArea>
                        </div>
                    </div>
                    <div class="mt-3">

                        <button id="next1" @onclick="() => NavigateToFormStep(2)" class="button btn-navigate-form-step"
                            type="button" step_number="2">Next</button>
                    </div>
                </section>
            }
            @if (CurrentStep == 2)
            {
                <section id="step-2" class="form-step">
                    <h2 class="font-normal">Location</h2>
                    <div class="mt-3">
                        <InputSelect @bind-Value="UserRegisterDto.Country" class="form-select country"
                            aria-label="Default select example" @oninput="async (e) => await LoadStatesAsync(e)">
                            <option disabled selected>Select Country</option>
                            @foreach (var option in CountryOptions)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </InputSelect>
                        <br>
                        <InputSelect @bind-Value="UserRegisterDto.State" class="form-select state"
                            aria-label="Default select example" @oninput="async (e) => await LoadCitiesAsync(e)">
                            <option disabled selected>Select State</option>
                            @foreach (var option in StateOptions)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </InputSelect>
                        <br>
                        <InputSelect @bind-Value="UserRegisterDto.City" class="form-select city"
                            aria-label="Default select example">
                            <option disabled selected>Select City</option>
                            @foreach (var option in CityOptions)
                            {
                                <option value="@option.Value">@option.Value</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="mt-3">
                        <button @onclick="() => NavigateToFormStep(1)" class="button btn-navigate-form-step" type="button"
                            step_number="1">Prev</button>
                        <button @onclick="() => NavigateToFormStep(3)" id="next2" class="button btn-navigate-form-step"
                            type="button" step_number="3">Next</button>
                    </div>
                </section>
            }
            @if (CurrentStep == 3)
            {
                <section id="step-3" class="form-step">
                    <h2 class="font-normal">Preferences</h2>
                    <div class="mt-3">
                        <div style="display: flex; flex-direction: row; width: 100%;">
                            <div style="display: flex; flex-direction: column; width: 50%;">
                                <div class="form-group" style="display: flex; flex-direction: column;">
                                    <label for="searchingGender">Searching Gender</label>
                                    <InputSelect id="searchingGender" @bind-Value="UserRegisterDto.SearchingGender">
                                        @foreach (var value in Enum.GetValues(typeof(Gender)))
                                        {
                                            <option value="@value">@value</option>
                                        }
                                    </InputSelect>
                                </div>

                                <div class="form-group">
                                    <label for="searchingAgeStart">Searching Age Start</label>
                                    <InputNumber id="searchingAgeStart" @bind-Value="UserRegisterDto.SearchingAgeStart"
                                        class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="searchingAgeEnd">Searching Age End</label>
                                    <InputNumber id="searchingAgeEnd" @bind-Value="UserRegisterDto.SearchingAgeEnd"
                                        class="form-control" />
                                </div>
                            </div>

                            <div class="interests-div">
                                <label style="font-weight: 500;">Interests</label>
                                <br>
                                @foreach (var interest in InterestsList)
                                {
                                    <label>
                                        @interest.Label
                                        <input type="checkbox"
                                            @onchange="((ChangeEventArgs e) => UpdateInterests(interest.Label, (bool)e.Value))" />
                                    </label>
                                }
                                @* <div style="display: flex; flex-direction: row;">
                                    <input class="form-control"
                                        style="margin-left: 27px; margin-top: 20px; padding: 5px 10px;"
                                        placeholder="Add your own interest" />
                                    <button style="margin-top: 20px; height: 35px; width: 50px;" class="add-interest form-control"><span class="material-symbols-outlined" style="margin-top: 0px">add</span></button>
                                </div> *@
                            </div>
                        </div>

                        <p id="errorMessage" class="text-danger"></p>
                    </div>

                    <div class="mt-3">
                        <button @onclick="() => NavigateToFormStep(2)" class="button btn-navigate-form-step" type="button"
                            step_number="2">Prev</button>
                        <button @onclick="() => NavigateToFormStep(4)" id="next3" class="button btn-navigate-form-step"
                            type="button" step_number="4">Next</button>
                    </div>
                </section>
            }
            @if (CurrentStep == 4)
            {
                <section id="step-4" class="form-step">
                    <h2 class="font-normal">Photos</h2>
                    <div class="mt-3">
                        <div class="imageGrid">
                            <div class="imageWrapper">
                                @for (int i = 1; i <= 6; i++)
                                {
                                    var index = i;
                                    <label for="@($"Image{index}")" class="uploadButton">Upload Image</label>
                                    <InputFile id="@($"Image{index}")" accept="image/*"
                                        OnChange="@(async (InputFileChangeEventArgs e) => await UploadFile(e, $"Image{index}"))" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button @onclick="() => NavigateToFormStep(3)" class="button btn-navigate-form-step" type="button"
                            step_number="3">Prev</button>
                        <button id="save" class="button submit-btn" type="submit">Save</button>
                    </div>
                </section>
            }
        </EditForm>

    </div>
</div>